* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  height: 500vh; }

section {
  width: 100vw;
  height: 100vh; }

.wrapper {
  position: fixed;
  transform: translateY(0);
  transition: 0.7s; }

.first {
  background-color: #a7233d; }
  .first .carusel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin: 0 auto; }
    .first .carusel .navigation {
      width: 12%;
      height: 8%;
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
      z-index: 1;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .first .carusel .navigation .first-block,
      .first .carusel .navigation .second-block,
      .first .carusel .navigation .third-block {
        width: 15%;
        height: 10%;
        background-color: black;
        cursor: pointer;
        transition: 0.2s all; }
        .first .carusel .navigation .first-block:hover,
        .first .carusel .navigation .second-block:hover,
        .first .carusel .navigation .third-block:hover {
          height: 20%; }
      .first .carusel .navigation .select {
        height: 20%; }
  .first .carusel-button {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: black;
    z-index: 1;
    cursor: pointer;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -2px 5px, inset rgba(252, 255, 255, 0.7) 0 2px 5px, rgba(0, 0, 0, 0.596) 0 2px 5px 2px; }
  .first #left,
  .first #right {
    top: 50%; }
  .first #left {
    left: 2%; }
  .first #right {
    right: 2%; }
  .first .carusel-items {
    width: 100vw;
    height: 100vh;
    position: relative;
    transition: 0.8s;
    display: flex;
    left: 0; }
    .first .carusel-items .carousel-block {
      float: left;
      width: 100vw;
      height: 100vh;
      display: block;
      flex-shrink: 0; }
    .first .carusel-items .two {
      background-color: #195e7e; }
    .first .carusel-items .three {
      background-color: #501c57; }

.second {
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }
  .second img {
    margin: 5%;
    width: 5%;
    max-width: 100px;
    transform: translate(0, 0);
    transition: 0.1s all; }

.third {
  background-color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative; }
  .third .modal {
    width: 410px;
    height: 155px;
    position: absolute;
    background-color: gainsboro;
    box-shadow: inset rgba(0, 0, 0, 0.6) 0 -2px 5px, inset rgba(252, 255, 255, 0.7) 0 2px 5px, rgba(0, 0, 0, 0.8) 0 2px 5px -1px;
    transform: translate(0, -65vh);
    transition: all 0.7s; }
    .third .modal p {
      font-size: 20px;
      width: 77%;
      font-family: monospace;
      font-weight: bolder;
      display: block;
      margin: auto;
      position: absolute;
      top: 30%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      text-align: center; }
    .third .modal button {
      margin-left: auto;
      display: block;
      position: absolute;
      top: 75%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      width: 55px;
      height: 25px;
      cursor: pointer; }
  .third .form-wraper {
    width: 530px;
    height: 400px;
    position: relative;
    transform: translate(0, 0);
    transition: all 0.8s; }
    .third .form-wraper .error-message {
      width: 80%;
      height: 18%;
      position: absolute;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 10%);
      transition: 0.5s all;
      background-color: gainsboro;
      box-shadow: inset rgba(0, 0, 0, 0.6) 0 -2px 5px, inset rgba(252, 255, 255, 0.7) 0 2px 5px, rgba(0, 0, 0, 0.8) 0 2px 5px -1px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .third .form-wraper .error-message p {
        font-family: monospace;
        font-size: 15px;
        width: 90%;
        font-weight: bold; }
    .third .form-wraper h1 {
      text-transform: capitalize;
      text-align: center;
      font-family: monospace;
      margin-top: 2%;
      font-size: 20px; }
    .third .form-wraper form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .third .form-wraper #name,
    .third .form-wraper #email,
    .third .form-wraper #message,
    .third .form-wraper button {
      width: 80%;
      height: 25px;
      text-align: center;
      margin: 2%;
      border: none;
      border-radius: 5px;
      box-shadow: inset 1px 1px 5px grey;
      transition: all 0.2s;
      transform: translate(0, 0); }
    .third .form-wraper #message {
      height: 195px;
      box-shadow: inset 1px 1px 10px grey;
      resize: none;
      text-align: left;
      padding: 2%; }
    .third .form-wraper button {
      width: 55px;
      height: 25px;
      box-shadow: 0px 0px 5px 0px #808080ab;
      background: #efefef;
      cursor: pointer;
      border: none; }
    .third .form-wraper .wraper {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      background-color: gainsboro;
      box-shadow: inset rgba(0, 0, 0, 0.6) 0 -2px 5px, inset rgba(252, 255, 255, 0.7) 0 2px 5px, rgba(0, 0, 0, 0.8) 0 2px 5px -1px;
      border-radius: 20px; }

@media screen and (max-device-width: 480px) {
  .first .carusel .navigation {
    width: 25%;
    height: 8%; }
  .first .carusel .carusel-button {
    width: 6vw;
    height: 6vw; }
  .second img {
    width: 8vw;
    margin: 9vw; }
  .third .form-wraper {
    width: 80%;
    height: 318px; }
    .third .form-wraper h1 {
      font-size: 14px; }
    .third .form-wraper #name {
      margin-top: 4%; }
    .third .form-wraper #name,
    .third .form-wraper #email {
      height: 25px; }
    .third .form-wraper #message {
      height: 160px; }
    .third .form-wraper button {
      width: 50px;
      height: 24px; }
    .third .form-wraper .error-message {
      width: 98%;
      height: 20%;
      transform: translate(-50%, 10%); }
      .third .form-wraper .error-message p {
        font-family: monospace;
        font-size: 14px;
        width: 95%;
        font-weight: bold; }
  .third .modal {
    width: 260px;
    height: 115px;
    transform: translate(0, -70vh); }
    .third .modal p {
      font-size: 15px;
      width: 90%; }
    .third .modal button {
      width: 50px;
      height: 24px; } }

@media screen and (max-device-width: 853px) and (orientation: landscape) {
  .first .carusel .carusel-button {
    width: 6vh;
    height: 6vh; }
  .second img {
    width: 11vh; }
  .third .form-wraper {
    width: 300px;
    height: 310px; }
    .third .form-wraper .wraper {
      border-radius: 10px; }
    .third .form-wraper h1 {
      font-size: 14px; }
    .third .form-wraper #name,
    .third .form-wraper #email {
      height: 25px; }
    .third .form-wraper #message {
      height: 160px; }
    .third .form-wraper button {
      width: 50px;
      height: 24px; }
    .third .form-wraper .error-message {
      display: none; }
  .third .modal {
    width: 260px;
    height: 115px;
    transform: translate(0, -70vh); }
    .third .modal p {
      font-size: 15px;
      width: 90%; }
    .third .modal button {
      width: 50px;
      height: 24px; } }

@media screen and (min-device-width: 480px) and (max-device-width: 769px) {
  .third .form-wraper {
    width: 350px;
    height: 320px; }
    .third .form-wraper .wraper {
      border-radius: 10px; }
  .third .modal {
    width: 350px;
    transform: translate(0, -70vh); }
    .third .modal p {
      font-size: 18px;
      width: 90%; }
    .third .modal button {
      width: 50px;
      height: 24px; } }

.main-wrapper {
  width: 100vw;
  height: 100.3vh;
  overflow: hidden; }
  .main-wrapper .content {
    transform: translate(0, 0vh);
    transition: all 0.5s; }

.click {
  z-index: -1;
  position: absolute; }
